[submodule "SunTianjing"]
	path = SunTianjing
	url = git@github.com:purpletianjing/pos.git
[submodule "CaoRong"]
	path = CaoRong
	url = git@github.com:urnotchrissie/Pos.git
[submodule "LiDanyang"]
	path = LiDanyang
	url = git@github.com:ldyyukito/pos.git
[submodule "YaoDanping"]
	path = YaoDanping
	url = git@github.com:AnliHuer/Pos.git
[submodule "YangLin"]
	path = YangLin
	url = git@github.com:anlin-yang/pos.git
[submodule "PanChen"]
	path = PanChen
	url = git@github.com:SherryPann/pos.git
[submodule "XiXi"]
	path = XiXi
	url = git@github.com:lotusscofield/pos.git
[submodule "LiuYe"]
	path = LiuYe
	url = git@github.com:Liuye012/pos.git
[submodule "LiuXinyu"]
	path = LiuXinyu
	url = git@github.com:Carolineliu/pos.git
